<!DOCTYPE HTML>
<html>
  <header>
    <title>{{title}}</title>
  </header>
  <body>
    <h1>{{title}} {{name}}</h1>
    Friends:
    <ul>
      {{#each friends}}
      <li>{{name}}
        {{# if age}}
          - {{age}}
        {{/if}}
      </li>
      {{/each}}
    </ul>
  </body>
</html>
